// upsc general profile
profiles {
    upscb{
        process {
        executor       = 'slurm'
        clusterOptions = '-A kaw'
        memory         = { 20.GB * task.attempt }
        cpus           = { 2 * task.attempt }
        time           = { 48.h * task.attempt }
     //   errorStrategy  = 'retry'
     //   maxRetries     = 2
    }
    }

}
